body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1d1d1d;
}

input {
	width: 100%;
	color: #ffffff;
	font-size: 18px;
	height: 40px;
	border-radius: 12px;
	border: 1px solid #f3f3f3;
	background: none;
	padding: 4px 10px;
}

button {
	font-size: 18px;
	color: #ffffff;
	background: none;
	border: 1px solid #f3f3f3;
	cursor: pointer;
	padding: 12px 20px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center div {
	gap: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.form {
	width: 400px;
	height: 500px;
	padding: 20px 30px;
	border-radius: 12px;
	border: 1px solid #f3f3f3;
}

.message {
	width: 400px;
	text-align: left;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 12px;
	border: 1px solid #f3f3f3;
}
